<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}. {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <base target="_blank">
</head>
<body>
<div class="container page">
    <div class="border-print-0 mb-5 pb-print-0 mb-print-1">
        <div class="row">
            <div class="col-print-6 col-12 col-md-4 d-flex justify-content-between flex-column">
                <div>
                    <h2 class="mb-0">{{ name }}</h1>
                    <div class="fs-5">{{ title }}</div>
                </div>
                <div>
                    <p>
                        <time datetime="{{ buildinfo.date }}" class="small">Last update: {{ updated }}</time>
                    </p>
                    <p>
                        <span class="screen"><a href="{{ pdfFileName }}"><i class="far fa-file-pdf"></i>Download PDF version</a></span>
                        <span class="print">Up-to-date version of CV is available at <a href="{{ baseUrl }}"
                                                                                        class="text-nowrap"><i
                            class="fab fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
                    </p>
                </div>
            </div>
            <div class="col-4 col-md-3 col-lg-2 offset-lg-1 d-none d-md-block align-md-self-center text-center">
                <img src="photo.jpg" class="rounded-circle img-fluid" alt="Personal photo">
            </div>
            <div class="col-print-6 col-12 col-md-5 offset-lg-1 col-lg-4">
                <ul class="list-group list-group-flush">
                    {{#each facts}}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <span class="text-nowrap">{{ @key }}</span>
                        <span class="text-nowrap">{{{ this }}}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div id="border-dark-line"></div>

    <div class="border-print-0 mb-5 pb-print-0 mb-print-1">
        <h3 class="mb-4">About Me.</h3>
        <div>
            <p>웹/앱 서비스 백엔드 개발자로서 스타트업 조직에서의 다양한 경험이 있습니다.
                Java & Spring framework, MySQL를 주로 사용해 설계, 개발 담당하여 B2C 회사 상용 서비스를 1년간 운영해본 경험이 있습니다.</p>

            <p>개발하며 경험한 오류를 분석하고 재밌는 발견들을 포스팅하고 있습니다.
                현재는 더 나은 코드, 더 나은 방법을 알기 위해 개발 서적을 읽고 정리하며 토이 프로젝트를 만들고 있습니다.</p>

            <p>개발이란 비즈니스와의 연결이 중요하다고 생각합니다. 좋은 연결을 위해서 이해관계자들과 적극적으로 의사소통하고 문제를 해결하기 위해 뛰어듭니다.
                회사에 도움이 되는 연결과 포기할줄 아는 용기를 가진 개발자로 성장하기 위해 조금 더 학습하고, 경험하는 매일을 살고 있습니다.</p>
        </div>
    </div>

    <div id="border-dark-line"></div>

    <div class="border-print-0 mb-5 pb-print-0 mb-print-1">
        <h3 class="mb-4">Professional Experience.</h3>
        
        <div class="row d-block d-md-flex{{#unless @last}} mb-5{{/unless}}">
            <div class="row d-block d-md-flex mb-5">
                <div class="col-md-2">
                    2024.02 ~ 2024.04
                </div>
                <div class="col-md-10">
                    <h3><a href="https://bodycodi.com/index.html">레드블루</a></h3>
                    <p>Junior Backend Developer</p>
                    {{#each redblue_positions}}
                    <p>
                        {{#each this.skills}}
                        <span class="badge text-body border border-1">{{ this }}</span>
                        {{/each}}
                    </p>
                    <div>
                        <div class="col-md-9">
                            <p>
                                <strong class="fs-5">{{ title }}</strong>
                                <small>{{ period }}</small>
                            </p>
                            <p>
                                <strong>{{ problem }}</strong>
                            <div>{{{ markdown problem_contents }}}</div>

                            <p>
                                <strong>{{ cause }}</strong>
                                {{#each cause_contents}}
                            <div>{{{ markdown this }}}</div>
                            {{/each}}

                            <p>
                                <strong>{{ effect }}</strong>
                            <div>{{{ markdown effect_contents }}}</div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="row d-block d-md-flex mb-5">
                <div class="col-md-2">
                    2020.12 ~ 2023.08
                </div>
                <div class="col-md-10">
                    <h3><a href="https://patron.digital/ko/welcome">노다멘</a></h3>
                    <p>Software Engineer</p>
                    <p>
                        {{#each nodamen_skills }}
                            {{#each this.skills}}
                        <span class="badge text-body border border-1">{{ this }}</span>
                            {{/each}}
                        {{/each}}
                    </p>
                    {{#each nodamen_positions}}
                    <div>
                        <div class="col-md-9 style='border: 2px solid black;'">
                            <p>
                                <strong class="fs-5">{{ title }}</strong>
                                <small>{{ period }}</small>
                            </p>
                            <p>
                                <strong>{{ problem }}</strong>
                            <div>{{{ markdown problem_contents }}}</div>

                            <p>
                                <strong>{{ cause }}</strong>
                                {{#each cause_contents}}
                            <div>{{{ markdown this }}}</div>
                            {{/each}}

                            <p>
                                <strong>{{ effect }}</strong>
                            <div>{{{ markdown effect_contents }}}</div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="border-dark-line"></div>

    <div class="border-print-0 mb-5 pb-print-0 mb-print-1">
        <h3 class="mb-4">Skills.</h3>
        <div class="row align-items-center">
            {{#each skills}}
            <p>
                <div class="col-md-2">
                    <strong>{{ this.title }}</strong>
                </div>
                <div class="col-md-10">
                    {{#each this.skills}}
                        <span class="badge text-body border border-1">{{ this }}</span>
                    {{/each}}
                </div>
            </p>
            {{/each}}
        </div>
    </div>

    <div id="border-dark-line"></div>

    <h3 class="mb-4">Education & Additional Experience</h3>

    {{#each experience}}
    <div class="col-md-2">
        {{ period }}
    </div>
    <div class="col-md-10">
        <h3>{{ header }}</h3>
        <p>{{ contents }}</p>
        <div>
            {{#each skills }}
            <span class="badge text-body border border-1">{{ this }}</span>
            {{/each}}
        </div>
    </div>
    {{/each}}

    <div id="border-dark-line"></div>

</div>
</body>
</html>
