<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}. {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <base target="_blank">
</head>
<body>
<div class="container page">
    <div class="border-print-0 mb-5 pb-print-0 mb-print-1">
        <div class="row">
            <div class="col-print-6 col-12 col-md-4 d-flex justify-content-between flex-column">
                <div>
                    <h2 class="mb-0">{{ name }}</h1>
                    <div class="fs-5">{{ title }}</div>
                </div>
                <div>
                    <p>
                        <time datetime="{{ buildinfo.date }}" class="small">Last update: {{ updated }}</time>
                    </p>
                    <p>
                        <span class="screen"><a href="{{ pdfFileName }}"><i class="far fa-file-pdf"></i>Download PDF version</a></span>
                        <span class="print">Up-to-date version of CV is available at <a href="{{ baseUrl }}"
                                                                                        class="text-nowrap"><i
                            class="fab fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
                    </p>
                </div>
            </div>
            <div class="col-4 col-md-3 col-lg-2 offset-lg-1 d-none d-md-block align-md-self-center text-center">
                <img src="photo.jpg" class="rounded-circle img-fluid" alt="Personal photo">
            </div>
            <div class="col-print-6 col-12 col-md-5 offset-lg-1 col-lg-4">
                <ul class="list-group list-group-flush">
                    {{#each facts}}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <span class="text-nowrap">{{ @key }}</span>
                        <span class="text-nowrap">{{{ this }}}</span>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div id="border-dark-line"></div>

    <div class="border-print-0 mb-5 pb-print-0 mb-print-1">
        <h3 class="mb-4">About Me.</h3>
        <div>
            <p>웹/앱 서비스 백엔드 개발자로서 스타트업 조직에서의 다양한 경험이 있습니다.
                Java & Spring framework, MySQL를 주로 사용해 설계, 개발 담당하여 B2C 회사 상용 서비스를 1년간 운영해본 경험이 있습니다.</p>

            <p>저는 문제 해결에 대한 능동적인 접근과 적극적인 팀워크를 통해 성과를 달성한 경험이 있습니다.
                프로젝트 초기 단계에서 발생한 기술적 장애물에 대해, 단순히 문제를 지적하는데 그치지 않고, 원인 분석을 주도하고 팀원들과 함께 실질적인 해결책을 마련했습니다.
                제안한 해결책이 적용된 후, 프로젝트 일정을 보다 빠르게 맞출 수 있었고 사용자들에게 3초 이하로 랜딩되는 페이지를 보여주어 DAU 300을 달성할 수 있었습니다.</p>

            <p>또한, 팀원들과의 정기적인 소통을 통해 개발 사이클에 낭비시간을 분석해 개선하였고, 프로젝트 전반적인 효율성을 높였습니다.</p>
        </div>
    </div>

    <div id="border-dark-line"></div>

    <div class="border-print-0 mb-5 pb-print-0 mb-print-1">
        <h3 class="mb-4">Technical Experience.</h3>
        
        <div class="row d-block d-md-flex{{#unless @last}} mb-5{{/unless}}">
            <div class="row d-block d-md-flex mb-5">
                <div class="col-md-2">
                    공백기의 한 일
                </div>
                <div class="col-md-10">
                    <strong>
                        <a href="https://github.com/constant94-dev">작업물 보러가기</a>
                    </strong>
                    <ul>
                        <li>CS전공지식 복습, 알고리즘 공부</li>
                        <li>관심있던 기술스택 사용한 개인 프로젝트 (WebSocket, Unit Test, Redis)</li>
                    </ul>
                </div>
            </div>
            <div class="row d-block d-md-flex mb-5">
                <div class="col-md-2">
                    2024.02 ~ 2024.04 <br/>
                    <small> (경영 악화로 인한 퇴사) </small>
                </div>
                <div class="col-md-10">
                    <h3><a href="https://bodycodi.com/index.html"><strong>레드블루</strong></a></h3>
                    <p>Junior Backend Developer</p>
                    {{#each redblue_positions}}
                    <p>
                        {{#each this.skills}}
                        <span class="badge text-body border border-1">{{ this }}</span>
                        {{/each}}
                    </p>
                    <div>
                        <div>
                            <p>
                                <strong class="fs-5">{{ title }}</strong>
                                <small>{{ period }}</small>
                            </p>

                            <strong>{{ problem }}</strong>
                            <ul>
                                {{#each this.problem_contents}}
                                <li>{{{ this }}}</li>
                                {{/each}}
                            </ul>

                            <strong>{{ effect }}</strong>
                            <ul>
                                <li>{{{ markdown effect_contents }}}</li>
                            </ul>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="row d-block d-md-flex mb-5">
                <div class="col-md-2">
                    2020.12 ~ 2023.08
                </div>
                <div class="col-md-10">
                    <h3><a href="https://patron.digital/ko/welcome"><strong>노다멘</strong></a></h3>
                    <p>Software Engineer</p>
                    <p>
                        {{#each nodamen_skills }}
                            {{#each this.skills}}
                        <span class="badge text-body border border-1">{{ this }}</span>
                            {{/each}}
                        {{/each}}
                    </p>
                    {{#each nodamen_positions}}
                    <div>
                        <div>
                            <p>
                                <strong class="fs-5">{{ title }}</strong>
                                <small>{{ period }}</small>
                            </p>

                            <strong>{{ problem }}</strong>
                            <ul>
                                {{#each this.problem_contents}}
                                <li>{{{ this }}}</li>
                                {{/each}}
                            </ul>

                            <strong>{{ effect }}</strong>
                            <ul>
                                <li>{{{ markdown effect_contents }}}</li>
                            </ul>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="border-dark-line"></div>

    <div class="border-print-0 mb-5 pb-print-0 mb-print-1">
        <h3 class="mb-4">Skills.</h3>
        <div class="row align-items-center">
            {{#each skills}}
            <p>
                <div class="col-md-2">
                    <strong>{{ this.title }}</strong>
                </div>
                <div class="col-md-10">
                    {{#each this.skills}}
                        <span class="badge text-body border border-1">{{ this }}</span>
                    {{/each}}
                </div>
            </p>
            {{/each}}
        </div>
    </div>

    <div id="border-dark-line"></div>

    <h3 class="mb-4">Education & Additional Experience</h3>

    {{#each experience}}
    <div class="col-md-2">
        {{ period }}
    </div>
    <div class="col-md-10">
        <h3>{{ header }}</h3>
        <p>{{ contents }}</p>
        <div>
            {{#each skills }}
            <span class="badge text-body border border-1">{{ this }}</span>
            {{/each}}
        </div>
    </div>
    {{/each}}

    <div id="border-dark-line"></div>

</div>
</body>
</html>
